<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>这是ejs1的示例</title>
    <link type="text/css" href="/css/comment.css" rel="stylesheet"/>
</head>
    <body>
    <div id="container">
        <% include header.ejs %>
        <div id="main">
            <h1>过滤器使用，语法：&lt;%=:&nbsp;express&nbsp;%gt;</h1>
            <ul>
                <li class="title">数值操作plus(+) minus(-) times(*) divdivded_byded(/),操作数为5</li>
                <li>原始值:<%=: templateObj.data.age%></li>
                <li>plus:n----><$=: templateObj.data.age | plus:5%</li>
                <li>minus:n----><%=: templateObj.data.age | minus:5%></li>
                <li>times:n----><%=: templateObj.data.age | times:5%></li>
                <li>divided_by:n----><%=: templateObj.data.age | divided_by:5%></li>

                <li class="tetle">字符串操作</li>
                <li>原始值:<%=templateObj.str%></li>

                <li>capitalize(首字母大写)----><%=:templateObj.str | capitalize %></li>
                <li>size(返回字符串长度)----><%= templateObj.str | size %></li>
                <li>truncate:n(返回前面7个字符串)----><%= templateObj | truncate : 7 %></li>
                <li>truncate_word:n(返回前面3个单词)----><%= templateObj | truncate_word : 3 %></li>
                <li>replace:pattern,substitution(将ejs替换为express）----><%=: templateObj.str | replace:'ejs','express' %></li>
                <li>prepend:val(将<%=temolateObj.str%>前面加上'你好')----><%=: templateObj.str | prepend:'你好' %></li>


                <li class="title">数组操作</li>
                <li>原始值:<%='['+templateObj.array+']'%></li>
                <li>first(取出数组中的第一个)----><%=: templateObj.array | first %></li>
                <li>last(取出数组中的最后一个)----><%=: temp;lateObj.array | last %></li>
                <li>reverse(对数组中的元素逆序)----><%=:templateObj.array | reverse %></li>
                <li>sort(对数组进行排序)----><%=: templateObj.array | sort%></li>
                <li>size(返回数组的长度)----><%=: templateObj.array | size%></li>
                <li>join:'val'(将数组用==链接成字符串)----><%= templateObj.array | join:'=='%></li>

                <li class="title">对象操作</li>
                <li>
                    原始值
                    <%=:templateObj.data
                     | json
                     | replace:'"name"','name'
                     | replace:'"age"','age'
                     | replace:'"phone"','phone'
                    %>
                </li>
                <li>json(将js对象转换为json字符串)----><%=: templateObj.data | json %></li>
                <li>get:'prop'(获取对象中name属性的值)----><%=: templateObj.data | get:'name'%></li>
                <li>map:'prop'(将对象中price属性的值组成数组)----><%=: templateObj.obArray | map:'price'%></li>
                <li>sort_by:'prop'(按照对象中name属性对源对象组排序)----><%=:templateObj.obArray | sort_by:'price | json'%></li>

                <li class="title">过滤器链式调用</li>
                //用分隔符分开函数名即可
                <li>(对年龄plus(4)|times(2))----><%=: templateObj.data.age | plus:4 | times:2%%></li>
                <li>(将数组第一个元素取出来首字母大写再逆序)----><%=: templateObj.array | first | capitalize | reverse%></li>
            </ul>
        </div>
        <% include footer.ejs%>
    </div>
    </body>
</html>